#cloud-config 
apt_preserve_sources_list: true
hostname: palmetto
manage_etc_hosts: true
package_reboot_if_required: true
package_update: true
package_upgrade: true
ssh_deletekeys: true
ssh_genkeytypes: ed25519
packages: 
  - git
  - ansible
  - ssh_import_id
runcmd: 
  - 
    - git
    - clone
    - "https://github.com/tdorsey/blind-bake"
  - 
    - cd
    - blind-bake
  - 
    - runcmd.sh
users: 
    - name: ansible
      lock_passwd: true
      shell: /bin/bash
      ssh_import_id:
        - "gh:tdorsey"
      ssh_authorized_keys:
        - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMP4JuQ8em8cm+YDHK/CXXyMFLq7jO37fXmZAaDmyw6U"
      sudo: "ALL=(ALL) NOPASSWD:ALL"

write_files: 
  - 
    content: "| [rtd3.me] rtd3.me:2200 ansible_user=tommy [local] localhost ansible_connection=local"
    path: /etc/ansible/hosts
